node_modules/
local.settings.json
.env
.DS_Store
.vscode/
dist/
build/
npm-debug.log*
__blobstorage__/
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__azurite_db_table__.json
AzuriteConfig